/* Сбрасываем установки браузера в отношении Body на 0. (Reset CSS) задаём шрифты для всего раздела */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* задаём ширину хедера */
header {
    width: 100%;
}

/* удаляем точки на списке */
ul {
    list-style-type: none;
}

/* перемещаем меню на правую сторону экрана */
#nav_bar {
    float:right; 
}

/* через тег nav_bar редактируем подчиненные li, не затрагивая id. 
Задаём правило отображения бокса на горизонтальный-флекс. Задаём пространство между содержанием и границей пори помощи: padding;*/
#nav_bar li {
    display: inline-flex;
    padding: 8px;
}

#sign-in { /* задаём стиль кнопке сайн-ин */
    background: #4887ef; /* цвет фона */
    margin-right: 25px; /* отступ по правой стороне 25px*/
    padding: 7px 15px; /* отступ текста от краёв: 7пх -сверху 7пх -снизу 15пх справа 15пх слева */
    border-radius: 5px; /* округляем края кнопки по 5пх */
}

/* задаем цвет текста пунктов меню хедера*/
.nav-links {
    color: #040404;
}

/* убираем подчёркивание текста (изначально был подчёркнут из-за ссылок). 
Делаем цвет текста, зависящим от родительского элемента, в этом случае <li> id которого мы модифицировали строкой выше */
a {
    text-decoration: none;
    color: inherit;
}

/* Добавляем эффект подчёркивания при наведении для класса nav-links */
.nav-links:hover {
    text-decoration: underline;
}

/* добавляем тень при наведении на кнопку Sign-in */
#sign-in:hover {
    box-shadow: 1px 1px 5px #999;
}

/* меняем цвет текста кнопки Sign-in */
#sign-in {
    color: #fff;
}

/* Начинаем работу над лого */

/* задаем правила для класса google и тега google-logo; */
.google #google-logo {
    display: block; /* задаём правила для отображения изображения, как для текста */
    text-align: center; /* выравниваем текст по центру (text-align) */  
    margin: 0, auto;
    clear: both;
    padding-top: 112px;
    padding-bottom: 20px;
}